@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/* src/styles/global.css */
@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Thin_PERSONAL USE.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Thin Outline_PERSONAL USE.otf")
        format("opentype");
    font-weight: 100;
    font-style: italic; /* Or assign this as "outline" style, if needed */
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Light_PERSONAL USE.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Light Outline_PERSONAL USE.otf")
        format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Regular_PERSONAL USE.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Regular Outline_PERSONAL USE.otf")
        format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Medium_PERSONAL USE.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Medium Outline_PERSONAL USE.otf")
        format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Bold_PERSONAL USE.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Bold Outline_PERSONAL USE.otf")
        format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY ExtraBold_PERSONAL USE.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY ExtraBold Outline_PERSONAL USE.otf")
        format("opentype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Black_PERSONAL USE.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("/fonts/MADE TOMMY Black Outline_PERSONAL USE.otf")
        format("opentype");
    font-weight: 900;
    font-style: italic;
}
